@font-face {
    font-family: 'black';
    src: url('./fonts/WorkSans-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bold';
    src: url('./fonts/WorkSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('./fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'semi-bold';
    src: url('./fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'light';
    src: url('./fonts/WorkSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'extra-bold';
    src: url('./fonts/WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'italic';
    src: url('./fonts/WorkSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('./fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    body {
        font-family: 'regular';
        font-size: 12px;
    }
}
