html, body {
    height: 100%;
    width: 100%;
}
.primary_btn {
    background-color: var(--themeColor);
    color: var(--white);
    padding: 0px 20px;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 4px;
    border: 1px solid var(--themeColor);
    min-height: 32px;
}
.primary_border_btn {
    background-color: var(--white);
    color: var(--themeColor);
    padding: 0px 20px;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 4px;
    border: 1px solid var(--themeColor);
    min-height: 32px;
}